
@{
    ViewBag.Title = "RunPLinqSeq";
}

<h2>Ejecución Paralela (poner valor 250)</h2>
@using (Html.BeginForm())
{
    <input type="text" id="mbSize" name="mbSize" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ejecutar Paralela" class="btn btn-default" />
        </div>
    </div>
    <br />
    <span> El tiempo trascurrido es : @ViewBag.LinqTimeLabel</span><br />
    <span> @ViewBag.SpeedupLabel</span><br />

}

